.signup-form-container{
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    height: 100vh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #f8f9fd;
}

.reg-inp1, .reg-inp2,
.reg-inp3, .reg-inp4, .reg-inp5{
    height: 25px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.reg-btn{
    margin-top: 10px;
    background: darkcyan;
    color: white;
    border: 1px solid darkcyan;
    font-size: 15px;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

.reg-btn:hover{
    background: white;
    color: darkcyan;
}

.reg-btn-container{
    display: flex;
    justify-content: center;
}

.list-container{
    display: flex;
}

.signup-form{
    background-color: white;
    padding: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 10px;
}

.reg-title {
    font-size: 25px;
    margin-bottom: 20px;
}

.reg-footer-container {
    background-color: transparent;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.login-redirect-btn {
    border: none;
    background-color: transparent;
    text-decoration: underline;
    cursor: pointer;
}